{% extends 'base.html' %}
{% block head %}
    <title>field clinic</title>
{% endblock %}




{% block body %}

    <form action="/clinic" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>patient information</legend>

        <label>name:
            <input name="name">
        </label>

        <label>age:
            <input type="number" name="age">
        </label>

        <label>symptoms:
            <input name="symptoms"></input>
        </label>

        <label>chest xray:
            <input type="file" name="xray">
        </label>


        <button type="submit">submit</button>
    </fieldset>
    </form>



{% endblock %}